name: Build and Push Image

on:
  push:
    branches: [main]

env:
  REGISTRY: registry.noelvega.dev

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - image: financial-planner-api
            dockerfile: Dockerfile.api
          - image: financial-planner-web
            dockerfile: Dockerfile.web
          - image: financial-planner-migrate
            dockerfile: Dockerfile.migrate
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ matrix.image }}:latest
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ matrix.image }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ matrix.image }}:buildcache,mode=max
